@charset "UTF-8";
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: #212121;
  font-family: "Roboto", sans-serif;
}

.button {
  cursor: pointer;
  border: none;
}
.button--hero {
  padding: 10px 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
}
.button--form-modal {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 52px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 164px;
  margin-right: 164px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.button--form-modal:hover, .button--form-modal:focus {
  background-color: #188CE8;
}
.button--portfolio {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 6px 22px;
  color: #212121;
  background-color: #F5F4FA;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
}
.button--portfolio:hover, .button--portfolio:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 6px 0px #F5F4FA;
          box-shadow: 0px 6px 0px #F5F4FA;
}
.button--all {
  padding: 6px 25px;
}
.button--mailing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  width: 200px;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .button--mailing {
    margin-left: 140px;
    margin-right: 140px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button--mailing {
    margin-left: 121px;
    margin-right: 121px;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.container {
  /* max-width: 1200px;*/
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #2F303A;
  text-align: center;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .hero {
    margin-bottom: 60px;
  }
}
.hero--overlay {
  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .hero--overlay {
    min-height: 400px;
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero--overlay {
    min-height: 400px;
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .hero--overlay {
    min-height: 480px;
    max-width: 1600px;
  }
}
@media screen and (min-width: 480px) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/herobackgroundmobile.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackgroundmobile.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/herobackgroundtablet.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackgroundtablet.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/herobackground.jpg");
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/herobackground.jpg");
  }
}
.hero__title {
  max-width: 696px;
  margin: 0 auto 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.advantages {
  background-color: #FFFFFF;
}
@media screen and (min-width: 1200px) {
  .advantages--indent {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.advantages__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}
.advantages-list {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.advantages-list__item {
  list-style: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list__item {
    width: 354px;
  }
}
.advantages-list__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .advantages-list__logo {
    padding: 25px 19px;
  }
}
@media screen and (min-width: 768px) {
  .advantages-list__logo {
    padding: 25px 14.2px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__logo {
    padding: 25px 10px;
  }
}
.advantages-list__icon {
  width: 70px;
  height: 70px;
}
.advantages-list__name {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media not screen and (min-width: 768px) {
  .advantages-list__name {
    text-align: center;
  }
}
.advantages-list__description {
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  color: #757575;
}

.activity {
  padding-top: 0;
  background-color: #FFFFFF;
}
@media screen and (min-width: 480px), screen and (min-width: 768px) {
  .activity {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activity {
    display: block;
  }
}
.activity--indent {
  /*  @media screen and (min-width: 480px) and (max-width: 1199px) {
      display: none;
    }*/
  padding-top: 0px;
  padding-bottom: 94px;
}
.activity__title {
  margin-bottom: 50px;
  line-height: 1.16667;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
}
.activity-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.activity-list__item {
  list-style: none;
}
.activity-list__background {
  position: relative;
}
.activity-list__product {
  position: absolute;
  bottom: 3px;
  right: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  font-family: "Roboto", sans-serif;
  line-height: 1.14286;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.our-team {
  background-color: #F5F4FA;
}
.our-team--indent {
  padding-top: 94px;
  padding-bottom: 94px;
}
.our-team__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16667;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px), screen and (min-width: 1200px) {
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.team-list__item {
  list-style: none;
}
.team-list__item--active {
  /*width: 270px;*/
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team-list__item--active {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__item--active {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item--active {
    width: 270px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-list__item--active {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-list__item--active:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 480px) {
  .team-list__img {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team-list__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team-list__img {
    width: 270px;
  }
}
.team-list__card {
  padding: 30px 10px;
}
.team-list__employee {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list__position {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.team-nets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}
.team-nets__item {
  list-style: none;
}
.team-nets__ref {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #AFB1B8;
}
.team-nets__ref:hover, .team-nets__ref:focus {
  fill: #FFFFFF;
}
.team-nets__ref--geometry {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}
.team-nets__ref--geometry:hover, .team-nets__ref--geometry:focus {
  background-color: #2196F3;
  border-radius: 50%;
}
.team-nets__icon {
  height: 20px;
  width: 20px;
}

.regular-customers {
  background-color: #FFFFFF;
}
.regular-customers--indent {
  padding-top: 94px;
  padding-bottom: 94px;
}
.regular-customers__title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16667;
  text-align: center;
  letter-spacing: 0.03em;
}

.customers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .customers-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.customers-list__item {
  list-style: none;
}
.customers-list__item--alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.customers-list__icon {
  width: 0px;
  height: 0px;
}
@media screen and (min-width: 480px), screen and (min-width: 768px) {
  .customers-list__icon--one {
    width: 44.27px;
    height: 49.23px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__icon--one {
    width: 41px;
    height: 46.7px;
  }
}
.customers-list__icon--two {
  width: 40px;
  height: 52px;
}
@media screen and (min-width: 480px), screen and (min-width: 768px) {
  .customers-list__icon--three {
    width: 41px;
    height: 42.6px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__icon--three {
    width: 43.46px;
    height: 41.18px;
  }
}
@media screen and (min-width: 480px), screen and (min-width: 768px) {
  .customers-list__icon--four {
    width: 79.66px;
    height: 42.02px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__icon--four {
    width: 84.44px;
    height: 40.62px;
  }
}
@media screen and (min-width: 480px), screen and (min-width: 768px) {
  .customers-list__icon--five {
    width: 59px;
    height: 47px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__icon--five {
    width: 62.54px;
    height: 45.43px;
  }
}
@media screen and (min-width: 480px), screen and (min-width: 768px) {
  .customers-list__icon--six {
    width: 88.48px;
    height: 45.44px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__icon--six {
    width: 93.79px;
    height: 43.93px;
  }
}

.customers-list__ref {
  fill: #AFB1B8;
}
.customers-list__ref--alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.customers-list__ref--geometry {
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
@media screen and (min-width: 480px) {
  .customers-list__ref--geometry {
    padding: 16px 52px;
  }
}
@media screen and (min-width: 768px) {
  .customers-list__ref--geometry {
    padding: 16px 60px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__ref--geometry {
    padding: 16px 32px;
  }
}
@media screen and (min-width: 480px) {
  .customers-list__ref--geometry {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .customers-list__ref--geometry {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .customers-list__ref--geometry {
    width: 170px;
    height: 92px;
  }
}
.customers-list__ref--geometry:hover {
  border: 1px solid #2196F3;
  border-radius: 4px;
}

.customers-list__ref {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-list__ref:hover, .customers-list__ref:focus {
  fill: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.3);
          transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #FFFFFF;
  cursor: pointer;
}
.modal-button .modal-button__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover .modal-button__icon, .modal-button:focus .modal-button__icon {
  fill: #2196F3;
}
.modal-button__icon {
  width: 18px;
  height: 18px;
  fill: #000000;
}

.modal-form__title {
  margin-top: 40px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-group {
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 20px;
}

.modal-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-field__label {
  display: inline-block;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.166667;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-field__element {
  position: relative;
}
.modal-field__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-field__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  bottom: 11px;
  display: inline-block;
  width: 18px;
  height: 18px;
  fill: #212121;
}

.modal-field__element .modal-field__icon {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field__element:focus-within .modal-field__icon, .modal-field__element:hover .modal-field__icon {
  fill: #2196F3;
}
.modal-field__element .modal-field__input {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-field__element:focus-within .modal-field__input, .modal-field__element:hover .modal-field__input {
  border-color: #2196F3;
}

.modal-textarea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.modal-textarea__label {
  display: inline-block;
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.166667;
  letter-spacing: 0.01em;
  color: #757575;
}
.modal-textarea__comment {
  outline: none;
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal-textarea .modal-textarea__comment {
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus-within .modal-textarea__comment, .modal-textarea:hover .modal-textarea__comment {
  border-color: #2196F3;
}

.modal-condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 51px;
  margin-left: 52px;
  margin-bottom: 30px;
}
.modal-condition__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-condition__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}
.modal-condition__input:checked + .modal-condition__icon {
  border-color: transparent;
  background-color: #2196F3;
  background-image: url("../images/formchek.svg");
  background-size: contain;
  background-origin: border-box;
}
.modal-condition__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
  cursor: pointer;
  border: 2px solid #212121;
  border-radius: 4px;
}
.modal-condition__ref {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.portfolio {
  background-color: #FFFFFF;
}
.portfolio--indent {
  padding-top: 94px;
  padding-bottom: 94px;
}
.portfolio__title {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

.portfolio-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.portfolio-buttons__item {
  list-style: none;
}
.portfolio-buttons__item--indent {
  margin-right: 8px;
}
.portfolio-buttons__item--indent:last-child {
  margin-right: 0;
}

.portfolio-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.portfolio-list__item {
  list-style: none;
}
.portfolio-list__item--active {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 370px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
}
.portfolio-list__item--active:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-list__overlay {
  position: relative;
  overflow: hidden;
}
.portfolio-list__overlay::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding: 63px 24px;
  width: 100%;
  height: 300px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.55555555;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: rgba(33, 150, 243, 0.9);
}
.portfolio-list__item--active:hover .portfolio-list__overlay::after {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.portfolio-list__card {
  margin: 20px 24px;
  border: 1px solid transparent;
}
.portfolio-list__product {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list__category {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.header {
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
}
.header__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  margin-right: 95px;
}
.header-logo__ref {
  text-decoration: none;
}
.header-logo__label {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
}
.header-logo__label--web {
  color: #2196F3;
}
.header-logo__label--studio {
  color: #000000;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__item {
  list-style: none;
}
.nav__item--indent {
  margin-right: 50px;
}
.nav__item--indent:last-child {
  margin-right: 0;
}
.nav__ref {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.nav__ref:hover, .nav__ref:focus {
  color: #2196F3;
}
.nav__ref--position {
  position: relative;
}
.nav__ref--position::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
}

.menu-icon {
  width: 40px;
  height: 40px;
}

.contact {
  margin-left: auto;
}
@media screen and (min-width: 1200px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.contact__item {
  list-style: none;
}
.contact__item--alignment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 49px;
}
.contact__item--alignment:last-child {
  margin-right: 0;
}
.contact__ref {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 31px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.02em;
  fill: #757575;
  color: #757575;
  text-decoration: none;
}
.contact__ref:hover, .contact__ref:focus {
  fill: #2196F3;
  color: #2196F3;
}
.contact__ref--transition {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #757575;
  color: #757575;
}
.contact__ref--transition:hover, .contact__ref--transition:focus {
  fill: #2196F3;
  color: #2196F3;
}
.contact__icon {
  display: block;
  margin-right: 10px;
  fill: currentColor;
}
.contact__icon--convert {
  width: 16px;
  height: 12px;
}
.contact__icon--telephone {
  width: 10px;
  height: 16px;
}
.contact__value {
  display: block;
}

.footer {
  background-color: #2F303A;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer {
    /* padding-top: 60px;*/
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-sections {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 768px) {
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address {
    margin-right: 70px;
  }
}
.footer-address__logo {
  padding-top: 60px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-address__logo {
    margin-bottom: 28px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-address__logo {
    padding-left: 163px;
    padding-right: 163px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-address__logo {
    padding-left: 115px;
    padding-right: 204px;
  }
}
.footer-address__ref {
  text-decoration: none;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-address__ref {
    display: block;
    text-align: center;
  }
}
.footer-address__lable {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-address__lable {
    font-size: 24px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .footer-address__lable {
    font-size: 26px;
    line-height: 1.1923;
    letter-spacing: 0.03em;
  }
}
.footer-address__lable--web {
  color: #2196F3;
}
.footer-address__lable--studio {
  color: #FFFFFF;
}

.address-block {
  padding-bottom: 60px;
  font-style: normal;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .address-block {
    padding-left: 124px;
    padding-right: 124px;
  }
}
@media screen and (min-width: 1200px) {
  .address-block {
    margin-top: 20px;
  }
}

.adress-list__item {
  list-style: none;
}
.adress-list__item--indent {
  margin-bottom: 12px;
}
.adress-list__item--indent:last-child {
  margin-bottom: 0;
}
.adress-list__ref {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .adress-list__ref {
    display: block;
    text-align: center;
  }
}
.adress-list__ref:hover, .adress-list__ref:focus {
  color: #FFFFFF;
}
.adress-list__ref--font {
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  color: #757575;
}
.adress-list__ref--begin {
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .footer-nets {
    margin-right: 93px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-nets {
    margin-bottom: 60px;
    padding-left: 137px;
    padding-right: 137px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-nets {
    padding-right: 89px;
  }
}
.footer-nets__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.1428;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-nets__title {
    text-align: center;
  }
}

.nets-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .nets-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.nets-list__item {
  list-style: none;
}
.nets-list__ref {
  text-decoration: none;
}
.nets-list__ref--geometry {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 8px;
  padding-right: 12px;
}
.nets-list__ref--geometry:hover, .nets-list__ref--geometry:focus {
  background-color: #2196F3;
  border-radius: 50%;
}
.nets-list__ref--active {
  background-color: #44454E;
  border-radius: 50%;
}
.nets-list__icon {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-form {
    padding-left: 159px;
    padding-right: 159px;
  }
}
.footer-form__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14285;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form__title {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__mailing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer-form__input {
  outline: none;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: #2F303A;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
  color: rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    margin-right: 12px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form__input {
    width: 450px;
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    height: 50px;
  }
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form__input {
    margin-bottom: 20px;
  }
}
.footer-form__caption {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
@media screen and (min-width: 480px) and (max-width: 1199px) {
  .footer-form__caption {
    margin-right: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__caption {
    margin-right: 10px;
  }
}
.footer-form__icon {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */