@import '../utils/variables';

.hero {

  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $background-hero;
  text-align: center;

  @media screen and (min-width: 480px) and (max-width: 1199px) 
  {
    margin-bottom: 60px;
  }  

  &--overlay {

    @media screen and (min-width: 480px) 
    {
      min-height: 400px;
      max-width: 480px;
    }
    @media screen and (min-width: 768px) 
    {
      min-height: 400px;
      max-width: 768px;
    }
    @media screen and (min-width: 1200px) 
    {   
      min-height: 480px;
      max-width: 1600px;
    }
    margin-left: auto;
    margin-right: auto;


    @media screen and (min-width: 480px) 
    {
      background-image: linear-gradient(to right, $gradient-color, $gradient-color),
      url('../images/herobackgroundmobile.jpg');
    }

    @media screen and (min-width: 768px) 
    {
      background-image: linear-gradient(to right, $gradient-color, $gradient-color),
      url('../images/herobackgroundtablet.jpg');
    }

    @media screen and (min-width: 1200px) 
    {
      background-image: linear-gradient(to right, $gradient-color, $gradient-color),
      url('../images/herobackground.jpg');
    }

    @media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), 
    screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 480px) and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-width: 480px) and (min-resolution: 192dpi),
    screen and (min-width: 480px) and (min-resolution: 2dppx) 
    {
      background-image: linear-gradient(to right, $gradient-color, $gradient-color),
      url('../images/herobackgroundmobiletwo.jpg');
    }

    @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), 
    screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 768px) and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) 
    {
      background-image: linear-gradient(to right, $gradient-color, $gradient-color),
      url('../images/herobackgroundtablettwox.jpg');
    }

    @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), 
    screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), 
    screen and (min-width: 1200px) and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) 
    {
      background-image: linear-gradient(to right, $gradient-color, $gradient-color),
      url('../images/herobackgroundtwox.jpg');
    }

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__title {
    
    @media screen and (min-width: 480px) and (max-width: 1199px) 
    {
      max-width: 360px;
    }


    max-width: 696px;
    margin: 0 auto 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.3636;
    letter-spacing: 0.06em;
    text-transform: uppercase; 

    color: $background-white-color;

    @media screen and (min-width: 480px) and (max-width: 1199px) 
    {
      font-size: 26px;
      line-height: 1.6154;
    }  
  }

}