$main-color: #212121;
$text-blue-color: #2196F3;
$text-black-color: #000000;
$text-head-color: #757575;
$background-white-color: #FFFFFF;
$background-hero: #2F303A;
$background-advantages: #F5F5F5;
$background-our-team: #F5F4FA;
$foter-color: rgba(255, 255, 255, 0.6);
$font-roboto: 'Roboto', sans-serif;
$font-raleway: 'Raleway', sans-serif;
$box-shadow-one: rgba(0, 0, 0, 0.12);
$box-shadow-two: rgba(0, 0, 0, 0.14);
$box-shadow-three: rgba(0, 0, 0, 0.2);
$box-shadow-four: rgba(0, 0, 0, 0.06);
$box-shadow-five: rgba(0, 0, 0, 0.16);
$item-portfolio-color: #EEEEEE;
$border-color: #ECECEC;
$gradient-color: rgba(47, 48, 58, 0.4);
$company-border: #AFB1B8;
$color-iconeone: #44454E;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$activity-background-color: rgba(47, 48, 58, 0.8);
$overlay-portfolio-color: rgba(33, 150, 243, 0.9);
$border-close-color: rgba(0, 0, 0, 0.1);
$border-input-color: rgba(33, 33, 33, 0.2);
$button-form-color: rgba(0, 0, 0, 0.15);
$color-textarea: rgba(117, 117, 117, 0.5);
$button-color: #188CE8;
$border-footer-color: rgba(255, 255, 255, 0.3);